<div class="kamaishi photo">
  <div class="container">
    <div class="row">
      <div class="card d-flex mx-auto col-lg-9 col-xs-12 m-3 p-3">
        <div class="d-flex mx-auto">
            <h2 class="text-center mt-4">練習一覧</h2>
            <div class="tooltip1 mt-2"><i class="fas fa-question-circle fa-lg"></i>
              <span class="tooltip-text">+マークから練習登録が行えます。</span>
            </div>
          </div>
        <a class="js-open-modal tooltip1 text-right text-darkblue text-decoration-none" href="#">登録
          <i class="fas fa-plus-circle fa-2x"></i>
        </a>
        <!--モーダルウィンドウ-->
        <%= render 'new', practice: @practice %>
        <%= render 'practice_index', practice_index: @practice_index %>
      </div>
    </div>
  </div>
</div>