<div class="container mt-2 mb-2">
  <div class="row">
    <div class="col-8 mx-auto">
      <h2 class="pb-4 d-flex">大切な音楽仲間である皆さまへ</h2>
      <p>合奏することってとても楽しいですよね。</p>
      <p>隣の仲間と息があった瞬間。</p>
      <p>遠くにいるのに互いに意識し合えた瞬間。</p>
      <p>同じ目標に向かって皆の気持ちが一つになった瞬間。</p>
      <p>そう感じられることが音楽の楽しさの一つではないでしょうか。</p>
      <br>
      <p>同時に最も困難なことはスケジュールを合わせることです。</p>
      <p>「今日クラリネット何人？」</p>
      <p>「〇〇さん、今日遅刻だっけ？」</p>
      <p>「連絡もらってないから来るはずだよ。」</p>
      <p>こんな会話、よくありますよね？</p>
      <p>もちろん、団体全員が出席することは困難です。</p>
      <p>しかし、</p>
      <li>練習する曲を変える、</li>
      <li>練習する順番を変える</li>
      <p>といった方法でなるべく影響が出ないように工夫することができます。</p>
      <br>
      <h4 class="pb-4">Otoderuでは以下の機能を使って皆さまをサポートします。</h4>
      <li>複数の団体に所属している人もまとめて予定の把握ができます。</li>
      <li>Slack連携をすれば様々な連絡のついでに出欠入力や仲間の予定の確認ができます。</li>
      <br>
      <p>Otoderuを通して、少しでも皆さまの音楽ライフが充実することを願っています。</p>
    </div>
  </div>
</div>