<div class="container">
  <div class="jumbotron main-color">
    <div class="container">
      <h1 class="display-4">Otoderuとは</h1>
      <p class="lead">オーケストラに特化した出欠管理サイトです。</p>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-3">
    <div class="img-shadow1"><%= image_tag "img/kamaishi.jpg", width: "90%", height: "90%", class:"round" %></div>
    <div class="about-text">
      <h1>予定を一括管理</h1>
      <p>所属団体の全ての予定を一目で</p>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-3">
    <div class="about-text">
      <h1>Slackで出欠入力</h1>
      <p>サイトにアクセスする手間はもう不要です</p>
    </div>
    <div class="img-shadow1"><%= image_tag "img/kamaishi.jpg", width: "90%", height: "90%", class:"round" %></div>
  </div>

  <div class="d-flex justify-content-center mb-3">
    <div class="img-shadow1"><%= image_tag "img/kamaishi.jpg", width: "90%", height: "90%", class:"round" %></div>
    <div class="about-text">
      <h1>もっと充実した練習を！</h1>
      <p>出欠の入力率を高めてより良い練習日程が組めます</p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="about-text">
      <h1>準備の時間をもっと短く、確実に</h1>
      <p>不要な備品はもう借りる必要がありません</p>
    </div>
    <div class="img-shadow1"><%= image_tag "img/kamaishi.jpg", width: "90%", height: "90%", class:"round" %></div>
  </div>
</div>