<div class="feed-images"></div>
<div class="container mt-2 ">
  <div class="row">
    <h2 class="p-2">ようこそ、Otoderuへ！</h2>
    <div class="col-11"><%= link_to "早速登録する", new_member_session_path  %></div>
  </div>
</div>