/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.red{
  color: #d44346;
}

.white{
  color: #fff;
}

.logo{
  height: 50px;
  width: 50px;
}

main{
  background-color: #E6d8b3;
}

header{
  background-color: #9b322d;
}

footer{
  background-color: #1A0807;
  height: 50px;
  p{
    line-height: 50px;
  }
}

.feed-images{
  width: 100%;
  height: 0;
  padding-top: calc(350 / 1000 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
  background: image-url("img/top.jpg") center center / cover no-repeat;
  background-size: cover;
}

.practice_index{
  font-size: calc(7px + 0.25vw)
}