// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about-text{
  display: flex;
  justiffy-content: center;
  flex-direction: column;
  width: 33vw;
  height: 20.625vw;
}

