<footer>
  <div class='container'>
    <div class='row'>
      <div class='mx-auto d-flex'>
        <p class="red mr-3">&copy; 紅零点</p>
        <p class="red">otoderu@example.com</p>
      </div>
    </div>
  </div>
</footer>