<footer>
  <div class='container'>
    <div class='row'>
      <div class='mx-auto d-flex'>
        <p class="white mr-3">&copy; Otoderu</p>
        <p class="white">otoderu@example.com</p>
      </div>
    </div>
  </div>
</footer>