<footer id="3">
  <div class='container'>
    <div class='row'>
      <div class='mx-auto d-flex'>
        <p class="white mr-3 mb-0">&copy; Otoderu</p>
        <p class="white mb-0">otoderu@example.com</p>
      </div>
    </div>
  </div>
</footer>